{% load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book Room</title>
    <link rel="stylesheet" type= "text/css" href="{% static "C:/Users/seanj/Desktop/Hotel_Project/Hotel/static/style.css" %}">
</head>
<body>
    <nav class="navbar">
        <div class="navleft">
            <a href="/" class="lakeside">LakeSide Hotel</a>
            <a href="/rooms" class="navlinks">Browse all Rooms</a>
        </div>
        <div class="navright">
            <a href="/search" class="navlinks">Find my Booking</a>
            <a href="/register" class="navlinks">Account</a>
        </div>
    </nav>

    <section class="register">
        <h1>Book a Room</h1>
        <form action="" method="post">
            {% csrf_token %}
            {{ booking }}
            <input type="submit" value="Book">
        </form>
    </section>
    {% if request.method == 'POST' and form.is_valid %}
    <p>Booking successful! Your Booking Code is: {{ form.instance.booking_code }}</p>
    {% endif %}

    <footer>
        <p>&copy; 2024 LakeSide Hotel</p>
    </footer>    
</body>
</html>