{% load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book Room</title>
    <link rel="stylesheet" type= "text/css" href="{% static "C:/Users/seanj/Desktop/Hotel_Project/Hotel/static/style.css" %}">
</head>
<body>
    <nav class="navbar">
        <div class="navleft">
            <a href="/" class="lakeside">LakeSide Hotel</a>
            <a href="/rooms" class="navlinks">Browse all Rooms</a>
        </div>
        <div class="navright">
            <a href="/search" class="navlinks">Find my Booking</a>
            <a href="/register" class="navlinks">Account</a>
        </div>
    </nav>

    <section class="register">
        <h2>Booking Details</h2>
        <p>Booking Code: {{ booking.booking_code }}</p>
        <p>User: {{ booking.user.username }}</p>
        <p>Room: {{ booking.roomtype }}</p>
        <p>Check-in Date: {{ booking.check_in_date }}</p>
        <p>Check-out Date: {{ booking.check_out_date }}</p>
    </section>

    <footer>
        <p>&copy; 2024 LakeSide Hotel</p>
    </footer>    
</body>
</html>