{% load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LakeSide Hotel</title>
    <link rel="stylesheet" type= "text/css" href="{% static "C:/Users/seanj/Desktop/Hotel_Project/Hotel/static/style.css" %}">
</head>
<body>
    <nav class="navbar">
        <div class="navleft">
            <a href="/" class="lakeside">LakeSide Hotel</a>
            <a href="/rooms" class="navlinks">Browse all Rooms</a>
        </div>
        <div class="navright">
            <a href="/search" class="navlinks">Find my Booking</a>
            <a href="/register" class="navlinks">Account</a>
        </div>
    </nav>

    <section class="welcome">
        <span>Welcome to </span>
        <span style="color: #ba7297;">LakeSide Hotel</span>
        <h3>Experience the Best Hospitality in Town</h3>
    </section>

    <section class="available">
        <h2><a href="/login">Book your Room</a></h2>
    </section>

    <section class="pride">
        <span>Experience the Best Hospitality at </span>
        <span style="color: #ba7297;">LakeSide Hotel</span>
        <h3>We offer the best services for all your needs</h3>
    </section>

    <section class="ourservices">
        <h1>Our Services</h1>
    </section>

    <section style="text-align: center;">
        <h1>Services at LakeSide Hotel - 24 Hour Front Desk</h1>
    </section>
    <hr class="hr">
    <section class="SERVICES">
        <div class="service">
            <h3>WiFi</h3>
            <p>Stay connected with high-speed interner access.</p>
        </div>
        <div class="service">
            <h3>Breakfast</h3>
            <p>Start your day with a delicious breakfast buffet.</p>
        </div>
        <div class="service">
            <h3>Laundry</h3>
            <p>Keep your clothes clean and fresh with our laundry service.</p>
        </div>
        <div class="service">
            <h3>Mini-Bar</h3>
            <p>Enjoy a refeshing drink or snackf from our in-room mini-bar.</p>
        </div>
        <div class="service">
            <h3>Parking</h3>
            <p>Park your car conveniently in our on-site parking lot.</p>
        </div>
        <div class="service">
            <h3>Air Conditioning</h3>
            <p>Stay cool and comfortable with our air conditioning system.</p>
        </div>
    </section>
    <hr class="hr">

    <section class="pride">
        <span>Experience the Best Hospitality at </span>
        <span style="color: #ba7297;">LakeSide Hotel</span>
        <h3>We offer the best services for all your needs</h3>
    </section>
    <footer>
        <p>&copy; 2024 LakeSide Hotel</p>
    </footer>
</body>
</html>